<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.example.BlogMapper">
	<select id="custList" resultType="network.com.ict.edu9db.VO">
		select * from CUSTOMER order by custid
	</select>
	<insert id="custIns" parameterType="network.com.ict.edu9db.VO">
		insert into CUSTOMER(custid, name, address, phone)
		values(CUSTOMER_seq.nextval,#{name,jdbcType=VARCHAR},#{address,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR})
	</insert>
	<delete id="custDel" parameterType="network.com.ict.edu9db.VO">
		delete from CUSTOMER where custid = #{custid}
	</delete>
	<!-- custid로 검색 -->
	<select id="custOne" parameterType="String"
		resultType="network.com.ict.edu9db.VO">
		select * from CUSTOMER where custid = #{custid}
	</select>
	<!-- 이름으로 검색 -->
	<!--<select id="custOne" parameterType="String"
		resultType="network.com.ict.edu9db.VO">
		select * from CUSTOMER where name like #{name} || '%'
	</select>-->
	<update id="custUpdate" parameterType="network.com.ict.edu9db.VO">
		update CUSTOMER set name = #{name}, address = #{address}, phone = #{phone}
		where custid = #{custid}
	</update>
</mapper>